@font-face {
  font-family: 'partie';
  src: url("http://www.orcidee.ch/templates/western/fonts/Winslett.ttf");
  }

html
{
font-family: 'courrier new';
    color: #000000;
background-color: rgba(255, 255, 255, 0.01);

}

body
{
margin: 0;
padding:7px;
padding-left: 10px;
padding-bottom: 35px;
background-image: url("http://www.orcidee.ch/templates/western/images/content2.png");
background-color: #f8f6e9;
border: 1px solid #000000;
width:651px;
font-family: 'courrier new';
   
}

nav#main-nav {
margin: 0  0 0 0;
background-image: url("http://www.orcidee.ch/templates/western/images/cloup.png");
background-repeat: no-repeat;
width:590px;
min-height: 35px;
padding-top: 10px;
padding-left: 30px;
padding-right: 30px;
text-align:center;

}
nav#bottom-nav {
    margin: 15px 0 0 0;
	
}
nav a{
    margin: 0 10px;
}
#manager-main-menu li
{
display: inline;	
	
}


ul, li{
    list-style:none;
    overflow:hidden;
    padding:0;
    margin:0;

}
a {
color: #933a0a;
text-decoration:underline;
}
p
{
font-size: 16px;
}
h2
{
font-size: 20px;
}

h1
{
font-size: 28px;
font-family: 'partie';
height: 30px;
text-align: center;
text-transform:uppercase;
font-weight: normal;
}

fieldset 
{
    border: 1px solid #000000;
    width:474px;
}
fieldset fieldset{
    width:450px;
}


 input.submit,
.login input.submit
{
margin:auto;
background-image: url("http://www.orcidee.ch/templates/western/images/cuivre1.jpg");
background-color: #66390d;
border: 3px solid #ba6835;
color: #fff6e5;
font-weight: bold;
font-style: italic;
}

}

input.subscribe
{
margin:auto;
margin-top: 7px;
background-image: url("http://www.orcidee.ch/templates/western/images/cuivre1.jpg");
background-color: #66390d;
border: 3px solid #ba6835;
color: #fff6e5;
font-weight: bold;
font-style: italic;
}


div.profile input.submit
{

margin: 0 3 0 3;
background-image: url("http://www.orcidee.ch/templates/western/images/cuivre1.jpg");
background-color: #66390d;
border: 3px solid #ba6835;
color: #fff6e5;
font-weight: bold;
font-style: italic;
}

input.submit:active,
.login input.submit:active,
input.subscribe:active,
div.profile input.submit:active
{
background-image: url("http://www.orcidee.ch/templates/western/images/cuivre2.jpg");
background-color: #66390d;
border: 3px solid #ba6835;
color: #fff6e5;
font-weight: bold;
font-style: italic;	
	
}

div.profile form
{
display: inline-block;

width: 50%;


}
input#check-dispo
{
margin:auto;
margin-top: 7px;
background-image: url("http://www.orcidee.ch/templates/western/images/cuivre1.jpg");
background-color: #66390d;
border: 3px solid #ba6835;
color: #fff6e5;
font-weight: bold;
font-style: italic;
margin: 10px;
text-align: center;

}
div.party-create a
{
margin:auto;
}
a.edit
{
padding: 5px 4px;
padding-left: 0px;

}

a.verify
{
padding: 5px 4px;
padding-left: 0px;
}

a.refuse
{
padding: 5px 4px;
padding-left: 0px;
}

a.cancel
{
padding: 5px 4px;
padding-left: 0px;
}

#animation
{
margin-top: 5px;
margin-bottom: 5px;
border: 1px solid #000000;
text-align: justify;
font-size: 1em;
padding: 4px;

	
}

.login .right{
    float:left;
    width:310px;
    padding: 0 0 0 15px;
    border-left: 1px solid #000000;

}
.login fieldset{
    width:auto;
    margin:10px 0 20px 0;
    padding:0;
    border:none;
}
.login fieldset legend{
    display:none;
}
.login p{
    height: 55px;
    text-align: center;
}
.login p.auth-result{
    height: 55px;
    color:red;
}
.login div.forgottenPwd{
    display:block;
    margin: 10px auto;
}

p.message
{
font-style: italic;
text-align: center;
color: #933a0a
	
}
.list{
    width:647px;
}
.list li {
    margin: 0 0 20px 0;
}
.list ul.players li {
    margin: 2px 0;
}
.list li div{
    display:block;
    overflow:hidden;
    float:left;
	text-align:left;
}
.list li div.clear{
    clear:both;
	width:630px;
    padding-left:10px;
}
.list li div.clear div{
    padding:0;
	text-align:left;
}

.list li div.top,
.list li div.main,
.list li div.more{
    border-bottom: 1px solid #000000;
}
.ui-dialog.t2012 .ui-dialog-titlebar{
    background:none repeat scroll 0 0 ;
	background-image: url("http://www.orcidee.ch/templates/western/images/bois.png");
    color:#FFFfff;
}
.ui-dialog.ui-widget{
    font-size:0.8em;
	color: #000000; 
}
.ui-dialog label,
.ui-dialog input,
.ui-dialog fieldset,
.ui-dialog form{
    float:none;
    clear:none;
    text-align:left;
}
.ui-dialog fieldset{
    border:none;
    margin:0;
    padding:0;
    width:auto;
	color: #000000;
}
.ui-dialog label{
    width:55px;
    margin:4px 10px;
    display:block;
    float:left;
}
.ui-dialog input{
    float:left;
    width:160px;
    padding:2px 4px;
    margin:2px 10px 2px 15px;
}
.ui-dialog input.readonly{
    border-color:#ffffff;
}
.ui-dialog p{
    font-size:1em;
    margin:15px 0 5px;
	color: #000000;
}
.list li span.partyName {
    font-size: 20px;
    text-align: left;
		/**font-family: 'menu';*/
}
.ui-dialog p.partyTitle{
    font-weight:bold;
    margin:10px 0;
	color: #000000;

}

.ui-dialog.ui-dialog-buttonpane button,
.ui-widget button
{

margin:auto;
margin-top: 7px;
background-image: url("http://www.orcidee.ch/templates/western/images/cuivre1.jpg");
border: 2px solid #ba6835;
color: #ffffff;
font-weight:bold;
}


.list li div.main .left, 
.list li div.main .clear.left 
{
padding-top: 4px;
padding-bottom: 5px;

}
.list li div.more
{
padding-top: 5px;
padding-bottom: 5px;

}
.list li span{
font-size: 0.9em;
    font-weight:bold;
    color:#000000;
}
.list li span.etat
{
   font-size: 0.9em;
font-family: 'courrier new';
   text-decoration:none;
   font-weight: normal;

}
.list li span.partyName 
{
text-decoration: underline;
}
.list li div.top
{
/*background-image: url("http://www.orcidee.ch/templates/western/images/bois.png");
background-color: #e9d88f;*/
border: 3px double #000000;
font-variant: small-caps;
font-size: 1.3em;
font-family: 'courrier new';
}

.list li div.type{

    font-weight:bold;
    font-size: 1.3em
    padding:13px 0 0 0;
}

.list li div.name
{
}
.list li div.more span.mailMJ
{
	cursor: pointer;
}

#ctct_mj_13000
{
padding-top: 10px;	
	
}
ul.pagination 
{
    text-align: center;
	margin-bottom: 10px;
}
ul.pagination li{
    display: inline;
    margin: 0 10px;
}
ul.pagination li a{
    text-decoration:none;
    font-weight:normal;
}
ul.pagination li a.activ{
    color:#000;
    font-weight:bold;
}
ul.pagination li a:hover{
    text-decoration:underline;
}

.party-create .party-preview{
    border:1px solid;
}
.party-create .party-preview td{
    border:1px solid;
    padding: 3px 5px;
}


.ui-dialog.ui-widget{
    font-size:0.8em;
}

.ui-dialog fieldset{
    border:none;
    margin:0;
    padding:0;
    width:auto;
}
.ui-dialog label{
    width:55px;
    margin:4px 10px;
    display:block;
    float:left;
}
.ui-dialog input{
    float:left;
    width:160px;
    padding:2px 4px;
    margin:2px 10px 2px 15px;
}
.ui-dialog input.readonly{
    border-color:#fff;
}
.ui-dialog p{
    font-size:1em;
    margin:15px 0 5px;
}
.ui-dialog p.partyTitle{
    font-weight:bold;
    margin:10px 0;
}


ul.profile li
{
color: #000000;
border-bottom-color: #000000;
	margin: 0px 20px;
}

.Pactions
{
margin: 15px 70px 15px 70px;
}

ul.profile input.info {

border: 1px solid #ddcb90;
color: #000000;
font-size: 16px;
width: 60%;

}
ul.profile input
{
   border: 1px solid #ddcb90;
color: #000000;
font-size: 16px;
width: 60%;


}

ul.profile label
{
width: 30%;
}
div.profile ul.result
{
	margin: 0px 20px 15px 20px;
}
#dispo-preview li{
    display:block;
    height:12px;
    margin:0;
    padding:0;
    font-family:verdana;
    font-size:0.6em;
    overflow:hidden;
    background-color:#efefef;
}
#dispo-preview li.flip{
    background-color:#f7f7f7;
}
#dispo-preview li div{
    margin: 0;
    height:8px;
}
#dispo-preview li div.bar{
    margin: 2px 0 0 80px;
    height:10px;
}
#dispo-preview li div.h{
    width: 70px;
    margin:0 0 1px 10px;
    height:12px;
    float:left;
    text-align:left;
}
#dispo-preview li .green{
    background-color:green;
}
#dispo-preview li .orange{
    background-color:orange;
}
#dispo-preview li .red{
    background-color:red;
}
#dispo-preview li .black{
    background-color:black;
}

#filteringForm
{
text-align:left;
margin-left: 0px;
}

#filteringForm fieldset
{
width: 625px;
margin-left: 0px;

}
#filteringForm input.submit
{
margin:7px 260px 0 260px;
background-image: url("http://www.orcidee.ch/templates/western/images/cuivre1.jpg");
background-color: #66390d;
border: 3px solid #ba6835;
color: #fff6e5;
font-weight: bold;
font-style: italic;

}
#filteringForm input.submit:active
{
background-image: url("http://www.orcidee.ch/templates/western/images/cuivre2.jpg");
background-color: #66390d;
border: 3px solid #ba6835;
color: #fff6e5;
font-weight: bold;
font-style: italic;	
	
}
.separator
{
clear:both;
width:100%;
height:60px;
margin:auto;
background-position: center center;
background-image: url("http://www.orcidee.ch/templates/western/images/separateur.png");
background-repeat: no-repeat;
}

.register-result
{
color: red;
}

.party-create,
.login

{
padding: 0 10px 0 10px;	
}

table

{
width: 651px;
	
}
table th
{
	font-size: 15px;
}

a.unsubscribeNow img

{
margin-left: 3px;
}