body{
    font-size: 0.9em;
    font-weight:normal;
    font-family: georgia, verdana, arial;
    min-height: 300px;
}
nav#main-nav {
    margin: 0  0 20px 0;
    width: 100%;
}
nav#bottom-nav {
    margin: 20px  0 0 0;
}
nav a{
    margin: 0 10px;
}

#main
{
width: 100%;
}
ul, li{
    list-style:none;
    overflow:hidden;
    padding:0;
    margin:0;
}
.left{
    float:left;
}
.clear,
.mce-tinymce{
    overflow:hidden;
    clear:both;
}

div.party-create textarea.clear
{
overflow-y:scroll;
}

div.party-create label[for=time-start-day2],
div.party-create #time-start-day2 {
    display: none;
}

.w300{
    width:300px;
}
ul.profile input.info{
    background-color:#fff;
    border:none;
	font-size: 16px;
	font-family: georgia;
width:300px;
font-weight: bold;
}
ul.profile li{
    border-bottom: 1px solid #000;
    clear:both;
	margin: 0px 25px;
}
ul.profile label{
    width:120px;
}
.datepicker{
    font-size: 10px;
    clear:both;
}
.dbg{
    background-color:#ccc;
    border: 2px solid #cc3;
    padding: 5px;
    margin:20px 0;
    clear:both;
    display:none;
    font-family: monospace;
}
.dbg pre{
    font-weight:normal;
    clear:both;
}

label, input, select, textarea{
    float:left;
    margin: 0.5%;
    text-align:left;
    font-family: verdana, arial;
}
input, fieldset{

    clear:none;
    width:auto;
}
select{
    width:24%;
}
select.small{
    width:70px;
}
textarea,input{
    width:25%;
}
textarea{
    font-size:0.8em;
    float:none;
    clear:both;
    width:85%;
    height: 100px;
}
input.subscribe{
    width:280px;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
}
label {
    clear:both;
    width:40%;
}

form{
    text-align:center;
    overflow:hidden;
}

form input.submit
{
	margin-top: 7px;
}

fieldset{
    overflow:hidden;
    margin:10px auto;
    padding:1%;
    text-align:center;
    width:95%;
}
fieldset fieldset{
    width:93%;
}
legend{
    padding: 0 5px 3px;
}
input.submit{
    clear:both;
    float:none;
    text-align:center;
    padding: 0 5px 0 5px;
    width: auto; 
}
.profile input.submit{
    float:left;
}
img.loader{
    margin:0 5px;
}
td.application-controls{
    padding: 3px 0;
}
.login{
    overflow:hidden;
}
.login label{
    font-size:12px;
    font-weight:bold;
    width:150px;
    margin:12px 0 0 0px;
}
.login input{
    width:200px;
    font-size:12px;
    margin: 10px 0 10px 10px;
}
.login .right input{
    margin: 0 0 10px 10px;
}
.login .right label{
    margin: 2px 0 0 0;
}
.login input.submit{
    clear:both;
    margin:10px auto;
    width:180px;
    /**border:1px solid #000;*/
    cursor:pointer;
    font-size:16px;
    
}
.login .left input.submit{
    margin-top:20px;
}
.login .right input.submit{
    margin-top:0;
}
.login .left{
    float:left;
    width:400px;
    margin:auto;
    padding: 0 15px 0 0;
}
.login .right{
    float:left;
    width:400px;
    padding: 0 0 0 15px;
   border-left: 1px solid #000;
}
.login fieldset{
    width:auto;
    margin:10px 0 20px 0;
    padding:0;
    border:none;
}
.login fieldset legend{
    display:none;
}
.login p{
    height: 55px;
}
.login p.auth-result{
    height: 55px;
    color:red;
}
.login div.forgottenPwd{
    display:block;
    margin: 10px auto;
}

 /* Party list */
.game-list {
    margin: 30px 20px;
}
.game-list > li {
    margin: 0 0 20px 0;
}
.game-list li .party-header {
    font-size: 1.2em;
    font-weight: bold;
}
.game-list li .party-header .name {}
.game-list li .party-header .scenario {}
.game-list li .type {
    color: #555;
}
.game-list li .planning {
    margin-top: 8px;
}
.game-list li .description {

}
.game-list li .admin {

}
.game-list li .admin .actions{
    margin: 15px 0 0;
}
.game-list li .separator {
    clear:both;
    height:1px;
    margin:30px 0;
    border-bottom: 1px solid #CFCFCF;
}


ul.pagination {
    text-align: center;
    width: 100%;
}
ul.pagination li{
    display: inline;
    margin: 0 10px;
}
ul.pagination li a{
    text-decoration:none;
    font-weight:normal;
}
ul.pagination li a.activ{
    color:#000;
    font-weight:bold;
}
ul.pagination li a:hover{
    text-decoration:underline;
}

.party-create .party-preview{
    border:1px solid;
}
.party-create .party-preview td{
    border:1px solid;
    padding: 3px 5px;
}
.party-create fieldset.mandatory-fields select{
    margin-left:18px;
}
.party-create fieldset label.tableAmount .small,
.party-create fieldset label .small
{
    font-size: 0.9em;
    color: #555;
}
.ui-dialog.ui-widget{
    font-size:0.8em;
}
.ui-dialog label,
.ui-dialog input,
.ui-dialog fieldset,
.ui-dialog form{
    float:none;
    clear:none;
    text-align:left;
}
.ui-dialog fieldset{
    border:none;
    margin:0;
    padding:0;
    width:auto;
}
.ui-dialog label{
    width:55px;
    margin:4px 10px;
    display:block;
    float:left;
}
.ui-dialog input{
    float:left;
    width:160px;
    padding:2px 4px;
    margin:2px 10px 2px 15px;
}
.ui-dialog input.readonly{
    border-color:#fff;
}
.ui-dialog p{
    font-size:1em;
    margin:15px 0 5px;
}
.ui-dialog p.partyTitle{
    font-weight:bold;
    margin:10px 0;
}

#check-dispo-result
{
clear:both;
}

#dispo-preview li{
    display:block;
    height:10px;
    margin:0;
    padding:0;
    font-family:verdana;
    font-size:0.9em;
    background-color:#efefef;
    overflow: visible;
}
#dispo-preview li.flip{
    background-color:#f7f7f7;
}
#dispo-preview li .bar div{
    margin: 0;
    height:9px;
}
#dispo-preview li div.bar{
    margin: 0 0 0 80px;
    height:10px;
}
#dispo-preview li div.h{
    width: 70px;
    margin:0 0 0 10px;
    height:10px;
    float:left;
    text-align:left;
}
#dispo-preview li .green{
    background-color:green;
}
#dispo-preview li .orange{
    background-color:orange;
}
#dispo-preview li .red{
    background-color:red;
}
#dispo-preview li .black{
    background-color:black;
}

#filteringForm
{
text-align:left;
margin-left: 0px;
}

#filteringForm fieldset
{
width: 97.5%;
margin-left: 0px;

}
#filteringForm input.submit
{
margin-left: 200px;
margin-right: 200px;
font-weight:bold;
}
#filteringForm .free-space-only{
    padding: 0.5% 0;
    text-align: left;
}
#filteringForm .free-space-only input{
    width: auto;
    margin-top: 7px;
}

.dates-controls .info{
    height: 3em;
}

.dates-controls .info span{
    background: none repeat scroll 0 0 #e5e5e5;
    border: 2px groove #e5e5e5;
    font-family: "HelveticaNeueLTStd47LtCn", "arial Narrow", helvetica, sans-serif;
    font-weight: bold;
    margin: 0 5px;
    padding: 2px 20px 3px;
}
.rtf table{
    width:auto;
}
.rtf ul, .rtf li, .list .rtf li{
    margin: auto;
    list-style: disc inside;
}
.admin-table-form input[type=text]{
    width: 50px;
}

table

{
width: 890px;
font-size: 11px;
	
}
table th
{
	font-size: 15px;
}
html body div#main form#tablesForm table tbody tr td input
{
width: 80px;
}
.party-detail{
    margin: 0 50px;
}
.party-detail .description{
    border-width: 1px 0;
    border-style: solid;
    border-color: #cfcfcf;
    margin: 20px 0;
    padding: 20px 0;
}